:root {
  --color-dodger-blue: #5175FF;
  --color-malibu: #829CFF;
  --color-oxford-blue: #333950;
  --color-ebony-clay: #25293A;
  --color-waterloo: #747B95;
  --color-carnation: #F05B5B;

  --color-sheet: #FAFAFA;
  --color-text: var(--color-waterloo);

  --shadow: 0 50px 50px -25px hsl(227 35% 45% / 74.71%);

  --font-sans: 'Kumbh Sans', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}
