/* ----------------------------------------------------------------------------
custom fonts
---------------------------------------------------------------------------- */

/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('/assets/fonts/KumbhSans[YOPQ,wght].woff2') format('woff2');
}
