.countdown {
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,13—16 */
  --fluid-13-16: clamp(0.8125rem, 0.6336rem + 0.7634vw, 1rem);

  display: inline-flex;
  column-gap: var(--fluid-13-16);
}
