.countdown {
  display: inline-flex;
  column-gap: var(--fluid-13-16);
}

.countdown-with-date > p {
  color: var(--color-oxford-blue);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 5px;
  margin-top: 0;

  > span {
    color: var(--color-dodger-blue);
  }
}
