.button {
  --text-weight: 700;
  --text-width: var(--text-width-s);
  --button-text: hsl(var(--color-dodger-blue));
  --button-bg: hsl(var(--color-dodger-blue) / 15.26%);
  --button-border: hsl(var(--color-dodger-blue) / 15.26%);
  --button-icon: var(--color-text);

  color: var(--button-text);
  background-color: var(--button-bg);
  border: transparent solid var(--border-weight-s);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding: 14px;
  min-width: 171px;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: color 0.1s step-start, background-color 0.1s linear;
  border-radius: var(--border-radius, 28px);
  line-height: var(--text-leading-body);

  &:visited {
    color: var(--button-text);
  }

  @media (--viewport-small) {
    line-height: inherit;
  }

  @media (hover: hover) {
    &:hover {
      /* --button-text: var(--color-sheet); */
      --button-bg: hsl(var(--color-dodger-blue) / 25%);

      cursor: pointer;
    }
  }

  & svg {
    width: 1.5em;
    height: auto;
  }

  &.--fill\@s {
    @media (--viewport-small) {
      width: 100%;
    }
  }

  &.--primary {
    --button-text: #FFFFFF;
    --button-bg: hsl(var(--color-dodger-blue));
    &:hover {
      --button-bg: hsl(var(--color-periwinkle-blue));
    }
  }

  &.--inverted {
    /* --button-text: var(--color-sheet); */
    --button-bg: #FFFFFF;
    /* --button-border: var(--color-text); */
    &:hover {
      --button-text: hsl(var(--color-periwinkle-blue));
    }
  }

  &.--text-only {
    border-color: transparent;
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        --button-text: var(--color-text);
        --button-bg: var(--color-sheet);

        border-bottom-color: var(--button-border);
      }
    }
  }

  &[aria-current] {
    &:not(:hover) {
      opacity: 0.5;
    }
  }
}
