.home {
  --wrapper-max-width: 1110px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -22vw;
    right: -20vw;
    width: var(--fluid-458-1134);
    height: var(--fluid-458-1134);
    background-image: url(../../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    animation: spin infinite 20s linear;

    @media screen and (max-width: 719px) {
      top: -170px;
      right: 50%;
      translate: 50%;
    }
  }

  > header {
    padding-block: var(--fluid-46-81) var(--fluid-80-104);
  }

  > .pricing {
    margin-top: var(--fluid-100-184);
    --threshold: 54rem;
    gap: var(--fluid-32-24) 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 50%;
      z-index: -1;
      background-color: var(--color-ebony-clay);
    }
  }

  > footer {
    background-color: var(--color-ebony-clay);
    background-image: url(../../assets/home/bg-pattern-footer.svg);
    background-position: right 10vw top 50%;
    background-repeat: no-repeat;

    > .inner {
      display: flex;
      gap: 48px;
      align-items: center;
      justify-content: space-between;
      padding-block: var(--fluid-100-82) var(--fluid-100-91);
    }

    & .countdown-with-date > p {
      color: #fff;
    }
  }
}

@media screen and (max-width: 800px) {
  .home > footer {
    background-position: 50%;

    > .inner {
      flex-direction: column;
      text-align: center;
    }

    & .countdown-with-date > :nth-child(2) {
      margin-top: 8px;
    }
  }
}
