.sign-up {
  --wrapper-max-width: 1110px;

  > header {
    padding-block: var(--fluid-46-81) var(--fluid-80-126);
  }

  > main {
    justify-content: space-between;
    padding-bottom: var(--fluid-87-123);

    > .left {
      max-width: 540px;
    }

    > .right {
      flex-shrink: 0;
      width: 100%;
      max-width: 445px;
    }
  }
}

.countdown-with-date > p {
  margin-top: 40px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1112px) {
  .sign-up {
    text-align: center;

    > main {
      justify-content: center;

      > .left {
        max-width: 572px;
      }
    }
  }
}
