.sign-up {
  --wrapper-max-width: 1110px;
  position: relative;

  > header {
    padding-block: var(--fluid-46-81) var(--fluid-80-126);
  }

  > main {
    justify-content: space-between;
    padding-bottom: var(--fluid-87-123);

    > .left {
      max-width: 540px;
    }

    > .right {
      flex-shrink: 0;
      width: 100%;
      max-width: 445px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 420px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-ebony-clay);
    background-image: url(../../assets/sign-up/bg-pattern-side.svg);
    background-repeat: no-repeat;
    background-position: top -781px center;

    @media screen and (max-width: 1112px) {
      width: 100vw;
      height: 375px;
      top: unset;
      left: 0;
      bottom: 0;
    }
  }
}

.countdown-with-date > p {
  margin-top: 40px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1112px) {
  .sign-up {
    text-align: center;

    > main {
      justify-content: center;

      > .left {
        max-width: 572px;
      }
    }
  }
}
