<li class="container">
  <article class="pricing-card{% if entry.featured %} --featured{% endif %}">
    <div class="inner">
      <div>
        <h2 class="plan">{{ entry.name }}</h2>
        <p class="price">{{ entry.price }}</p>
        <p>{{ entry.description }}</p>
      </div>
      <ul class="features flow">
        {%- for feature in entry.features %}
        <li>{{ feature }}</li>
        {%- endfor %}
      </ul>
    </div>
    <button class="button">Try for Free</button>
  </article>
</li>
