.pricing-card {
  border-radius: 13px;
  padding: 40px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: var(--color-oxford-blue);
  box-shadow: var(--card-shadow);

  & * {
    margin: 0;
  }

  > :nth-child(1) {
    font-size: 20px;
    line-height: 28px;
  }

  > :nth-child(2) {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    margin-block: 40px 8px;
  }

  > ul {
    color: var(--color-waterloo);
    padding-left: 0;
    text-align: center;
    margin-block: 56px 32px;

    > * + * {
      margin-top: 16px;
    }
  }

  > :last-child {
    margin-top: auto;
  }

  &.featured {
    background-color: var(--color-dodger-blue);
    background-image: url('../../assets/home/bg-pattern-pricing.svg');
    background-position: center bottom 7px;
    background-repeat: no-repeat;
    color: #fff;

    > ul {
      color: #fff;
      opacity: 75%;
    }
  }
}

@media screen and (min-width: 513px) and (max-width: 913px) {
  .pricing-card {
    padding: 48px;
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    align-items: start;
    justify-items: start;

    > :not(ul) {
      grid-column: 1;
    }

    > ul {
      grid-column: 2 / 3;
      grid-row: 2 / 5;
      text-align: unset;
    }

    > :nth-child(2), ul {
      margin-block: unset;
    }

    > :nth-child(1) {
      margin-bottom: 16px;
    }

    > :nth-child(3) {
      margin-block: 4px 24px;
    }

    &.featured {
      background-position: right 128px center;
    }
  }
}

@media screen and (max-width: 512px) {
  .pricing-card {
    max-width: 350px;
    margin-inline: auto;
    text-align: center;
  }
}
